<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Shoogar</title>
	<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1" />
	<link type="text/css" href="application/assets/screen.css" rel="stylesheet" media="screen" />
	<script type="text/javascript" src="application/assets/scripts.js"></script>
</head>
<body>
	
<div id="screen">

<div id="logo">
	<img src="application/assets/logo.png" alt="" />
</div>

<h3>A minimalistic framework for Node.js.</h3>

<ul id="menu" class="nav">
	<li><a href="/">Home</a></li>
	<li><a href="docs">Documentation</a></li>
	<li><a href="changelog">Changelog</a></li>
</ul>
<fieldset>
	<legend>Routes Examples</legend>
	<ul id="examples" class="nav">
		<li><a href="awesome">String</a></li>
		<li><a href="template">Template</a></li>
		<li><a href="static">Static File</a></li>
		<li><a href="hello">RESTful URL</a></li>
		<li><a href="phone/0/129/40/55/333">Bizarre URL</a></li>
		<li><a href="oops">Catch 404 Error</a></li>
	</ul>
</fieldset>
	
<div id="content">
