body {
  font: normal normal normal 13px/normal 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
  color: #635E57;
  font-size: 16px;
  line-height: 1.4em;
  overflow-y: scroll;
}

h2 {
  margin-top: 46px;
  border-top: 2px dashed #ccc;
  padding-top: 7px;
  line-height: 1.05em;
}
h5, pre {
  margin: 0;
  padding: 0;
}

img {
  border: none;
}

a {
  color: #635E57;
  text-decoration:underline;
}
a:hover, a:active {
  color: #DF5006;
  text-decoration:underline;
}
a:focus, .active {
  color: #DF5006;
}


#screen {
  text-align: left;
  margin: 5em auto;
  width: 700px;
}

#content {
  margin: 20px 0;
  min-height: 200px;
}

table {
  border-collapse: collapse;
}
th {
  background: #eee;
  white-space: nowrap;
}
th, td {
  border: 1px solid #aaa;
  vertical-align: top;
  padding: 4px;
  width:50%;
}

fieldset {
  padding: 0 0 4px 0;
  margin: 5px 0 0 ;
  border: 1px dashed #aaa;
}
legend {
  font-size: 14px;
  padding: 0 4px;
  margin-left:6px;
}

ul.nav {
  list-style-type: none;
  margin: 0 0 4px 0;
  padding: 0;
  text-align: right;
}
ul#examples {
  text-align: center;
}

ul.nav li {
  font-size: 17px;
  display: inline;
  padding: 0 11px;
}

ul.nav a {
  text-decoration:none;
}


#footer {
  font-size: 11px;
  text-align: right;
  border-top: 1px solid #aaa;
  padding: 4px 0 0;
}

pre { 
  font-size: 14px;
  margin: 0.5em 0 1.5em 0;
  padding: 6px;
  background: #EEE; 
}
